section.advantages
  .wrapper.advantages__wrapper
    h2.page__title ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ
    span.page__subtitle Мы являемся профессиональной командой и предлагаем лучшие цены
    .advantages__flex
      .advantages__item
        .advantages__item_img
          img(src="img/economy.png", alt="")
        .advantages__item_content
          span.advantages__item_title Значительная экономия средств
          p.advantages__item_text За счет отсутствия необходимости в содержании штатных специалистов, которые время от времени болеют и уходят в отпуск.
      .advantages__item
        .advantages__item_img
          img(src="img/best.png", alt="")
        .advantages__item_content
          span.advantages__item_title Лучшие специалисты
          p.advantages__item_text Вас будут обслуживать только профессионалы в области юридического, бухгалтерского и кадрового учета, налогообложения.
      .advantages__item
        .advantages__item_img
          img(src="img/opyt.png", alt="")
        .advantages__item_content
          span.advantages__item_title Опыт в работе более 10 лет
          p.advantages__item_text Мы работаем от оформления пакета первичных документов до сопровождения проверки налоговой инспекции.
      .advantages__item
        .advantages__item_img
          img(src="img/komplex.png", alt="")
        .advantages__item_content
          span.advantages__item_title Комплексный подход
          p.advantages__item_text Погружаемся в оценку и анализ ситуации каждого клиента с точки зрения бухгалтерии и юриспруденции.
