section.calc
  .wrapper.calc__wrapper
    h2.page__title РАСЧЕТ ОБСЛУЖИВАНИЯ
    span.page__subtitle Рассчитайте самостоятельно стоимость бухгалтерского обслуживания сейчас, онлайн!
    .calc__block
      .calc__section
        span.calc__section_title СИСТЕМА НАЛОГООБЛОЖЕНИЯ
        .calc__section_range
          .nalogSlider
      .calc__section
        span.calc__section_title КОЛИЧЕСТВО ОПЕРАЦИЙ
        .calc__section_range
          .operSlider
      .calc__section
        span.calc__section_title КОЛИЧЕСТВО СОТРУДНИКОВ
        .workers-input
          input.form-control.calculator-workers-count(type="text" readonly="true" value="0")
        .calc__section_range
          .workersSlider