section.calc
  .wrapper.calc__wrapper
    h2.page__title РАСЧЕТ ОБСЛУЖИВАНИЯ
    span.page__subtitle Рассчитайте самостоятельно стоимость бухгалтерского обслуживания сейчас, онлайн!
    form.calc__form
      .calc__section
        span.calc__section_title СИСТЕМА НАЛОГООБЛОЖЕНИЯ
        .calc__section_range
          .nalogSlider
      .calc__section
        span.calc__section_title КОЛИЧЕСТВО ОПЕРАЦИЙ
        .calc__section_range
          .operSlider
      .calc__section
        span.calc__section_title КОЛИЧЕСТВО СОТРУДНИКОВ
        .workers-input
          .workers-input--neg -
          input#workers.form-control.calculator-workers-count(type="text" readonly="true")
          .workers-input--pos +
        .calc__section_range
          .workersSlider

      .calc__flex
        .calc__checks
          label.calc__checkbox
            input(type="checkbox")
            span.calc__checkbox_custom
            span.calc__checkbox_text Использование льгот по НДС, взносам; НКО
          label.calc__checkbox
            input(type="checkbox")
            span.calc__checkbox_custom
            span.calc__checkbox_text Зарегистрированные обособленные подразделения, филиалы
          label.calc__checkbox
            input(type="checkbox")
            span.calc__checkbox_custom
            span.calc__checkbox_text ККМ
          label.calc__checkbox
            input(type="checkbox")
            span.calc__checkbox_custom
            span.calc__checkbox_text Совмещение различных систем налогообложения
          label.calc__checkbox
            input(type="checkbox")
            span.calc__checkbox_custom
            span.calc__checkbox_text Большая номенклатура (более 20 позиций в первичном документе)
        .calc__get
          span.calc__get_title СТОИМОСТЬ ОБСЛУЖИВАНИЯ 
          img.calc__get_img(src="img/kist-green.png", alt="")
          span.calc__get_price
            span#resultPrice  3000 
            | руб. 
          label.header-form__label.header-form__label--phone
            span
            input.header-form__input(type="tel" placeholder="Введите телефон")
          input.header-form__submit(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ")
          label.header-form__check
            input.header-form__checkbox(type="checkbox" checked)
            span.header-form__check_custom
            span.header-form__check_text Я согласен с 
              a(href="") политикой конфиденциальности
