section.contacts
  .contacts__flex
    .contacts__left
      span.contacts__left_title Контактная информация:
      .contacts__list
        .header__menu_line.header__menu_line--phone
          i
          a.header__menu_item(href="tel:8 (8362) 00-00-00") 8 (8362) 00-00-00
        .header__menu_line.header__menu_line--mail
          i
          a.header__menu_item(href="mailto:info@tvoisite.ru") info@tvoisite.ru
        .header__menu_line.header__menu_line--whats
          i
          span.header__menu_item +7-918-770-46-47 - WhatsApp, Viber
        .header__menu_line.header__menu_line--address
          i
          span.header__menu_item г. Йошкар-Ола, ул. Йывана Кырли д. 15
        .header__menu_line.header__menu_line--inn
          i
          span.header__menu_item ИНН 7717775620 ОГРН 1147746158091
        .header__menu_line.header__menu_line--text
          i
          span.header__menu_item Центр бухгалреских и юридических услуг - обособленный отдел многопрофильной компании ООО "Компания".
      .contacts__btn СМОТРЕТЬ НА КАРТЕ
    .contacts__right
      form.contacts__form(action="")
        span.contacts__form_text1 Остались вопросы?
        span.contacts__form_text1.contacts__form_text2 Задайте их специалисту
        label.contacts__form_label.contacts__form_label--name
          span
          input.contacts__form_input(type="text" placeholder="Введите имя")
        label.contacts__form_label.contacts__form_label--phone
          span
          input.contacts__form_input(type="text" placeholder="Введите телефон")
        label.contacts__form_label
          textarea.contacts__form_textarea(placeholder="Начните писать...")
        input.contacts__form_submit(type="submit" value="ОТПРАВИТЬ СООБЩЕНИЕ")
        label.header-form__check.contacts__form_check
          input.header-form__checkbox(type="checkbox" checked)
          span.header-form__check_custom
          span.header-form__check_text Я согласен с 
            a(href="") политикой конфиденциальности
