footer.footer
  .wrapper.footer__wrapper
    .footer__links
      span.footer__title Центр бухгалтерского и юридического обслуживания
      .footer__breadcrumbs
        a.footer__link(href="") Бухгалтерские услуги
        a.footer__link(href="") Юридические услуги
    .footer__div
    .footer__contacts
      span.footer__contacts_span Всегда рады вашим звонкам
      a.footer__phone(href="") 8 (8362) 
        b 00-00-00
      span.footer__getcall Заказать обратный звонок
    .footer__div
    a.footer__weblitex(href="") Разработка и продвижение
      span W E B L I T E X . R U


.popup
  .popup__bg
  .popup__form--container
    .popup__close
    form.popup__form(action="")