.header-content.header-content--sale
  h1.header-content__title
    b Бухгалтерское обслуживание 
    | со скидкой 50% первые 3 месяца.
  span.header-content__plash Спасибо за Ваш повторный визит! Вы уже были у нас, но покинули сайт :(
  span.header-content__text Мы подготовили вкусное предложение по ведению бухгалтерии вашей компании.
    br
    | Предложение действует до 
    span.date 15.03.2018
    | . Просто отправьте нам заявку!