.header-content
  h1.header-content__title
    b Бухгалтерские услуги 
    | для среднего и малого бизнеса
  ul.header-content__list
    li Анализ документов и консультация - 
      b бесплатно!
    li Ведение бухгалтерии - от 3900 рублей.
    li Обслуживаем более 50 клиентов по Йошкар-Оле.