.header-content
  h1.header-content__title
    b Юридические услуги 
    | для среднего и малого бизнеса
  ul.header-content__list
    li Зарегистрировали более 70 компаний.
    li Осуществляем представительство в судах и спорах.
    li Сопровождаем более 30 клиентов в Йошкар-Оле.