section.what
  .wrapper.what__wrapper
    h2.page__title КОМПЛЕКСНЫЕ УСЛУГИ
    span.page__subtitle Мы оказываем полный спектр услуг для юридических лиц. Познакомьтесь с ними.
    .what__flex
      .what__block.what__block--sale
        .what__block--sale-content
          span.what__block--sale-span1 БУХГАЛТЕРСКОЕ СОПРОВОЖДЕНИЕ
          | специальные условия только для Вас
          b.what__block--sale-span2 СКИДКА -50%
          | на первые 3 месяца ведения.
        .what__btn УЗНАТЬ ПОДРОБНЕЕ
      .what__block
        span.what__block_title ЮРИДИЧЕСКИЕ УСЛУГИ
        .what__block_list
          span.what__block_item
            b 01. 
            | Составление и экспертиза договоров
          span.what__block_item
            b 02. 
            | Консультация юриста
          span.what__block_item
            b 03. 
            | Подготовка претензий и исковых заявлений
          span.what__block_item
            b 04. 
            | Представительство в суде
          span.what__block_item
            b 05. 
            | Защита по административным делам
          span.what__block_item
            b 06. 
            | Сопровождение сделок с недвижимостью
          span.what__block_item
            b 07. 
            | Защита интересов кредитора в деле о банкротстве
          span.what__block_item
            b 08. 
            | Налоговый консалтинг
          span.what__block_item
            b 09. 
            | Абонентское обслуживание ИП и организаций
        .what__btn УЗНАТЬ ПОДРОБНЕЕ