section.services
  .wrapper.services__wrapper
    h2.page__title НАШИ УСЛУГИ
    .services__list
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 01.
        .services__item_content
          span.services__item_title Бухгалтерское сопровождение и ведение
          span.services__item_text от 3.000 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 02.
        .services__item_content
          span.services__item_title Восстановление бухгалтерского учёта
          span.services__item_text от 6.000 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 03.
        .services__item_content
          span.services__item_title Взаимодействие с налоговой инспекцией
          span.services__item_text от 500 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 04.
        .services__item_content
          span.services__item_title Внесение изменений в ЕГРЮЛ
          span.services__item_text от 1.000 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 05.
        .services__item_content
          span.services__item_title Ведение кадрового учёта
          span.services__item_text от 6.000 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 06.
        .services__item_content
          span.services__item_title Консультация бухгалтера
          span.services__item_text Бесплатно
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 07.
        .services__item_content
          span.services__item_title Регистрация ООО или ИП
          span.services__item_text от 1.000 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 08.
        .services__item_content
          span.services__item_title Нулевая отчетность
          span.services__item_text от 500 рублей
      .services__item
        .services__item_over
          img(src="img/quest.png", alt="")
          span УЗНАТЬ 
            br
            | ПОДРОБНЕЕ
        span.services__item_num 09.
        .services__item_content
          span.services__item_title Ликвидация юр. лиц или ИП
          span.services__item_text от 1.000 рублей
    form.header-form.services__form(action="")
      span.header-form__title Оставьте заявку на 
        b бесплатную консультацию 
        | бухгалтера по услугам!
      .header-form__flex
        label.header-form__label.header-form__label--name
          span
          input.header-form__input(type="text" placeholder="Введите имя")
        label.header-form__label.header-form__label--phone
          span
          input.header-form__input(type="tel" placeholder="Введите телефон")
        input.header-form__submit(type="submit" value="ПЕРЕЗВОНИТЕ")
      label.header-form__check
        input.header-form__checkbox(type="checkbox" checked)
        span.header-form__check_custom
        span.header-form__check_text Я согласен с 
          a(href="") политикой конфиденциальности

