extends _template/_default
block content
  section.top
    .top-slider.top-slider__buh
    include _template/_header
    include _template/_header-content
    include _template/_header-form
  include _template/_services
  include _template/_calculator
  include _template/_advantages
  include _template/_contacts
  include _template/_footer