extends _template/_default
block content
  section.top
    .top-slider.top-slider__sale
    include _template/_header
    include _template/_header-content-sale
    include _template/_header-form-sale
  include _template/_sale-complex
  include _template/_calculator-sale
  include _template/_advantages
  include _template/_contacts
  include _template/_footer